<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="enable_lazy_load_no_trans">true</property>
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.url">jdbc:postgresql://IP-ADRESSE:PORT/DB_NAME</property>
        <property name="hibernate.connection.username">BENUTZER</property>
        <property name="hibernate.connection.password">PASSWORT</property>
        <property name="hibernate.hbm2ddl.auto">update</property>
        <property name="hibernate.id.new_generator_mappings">true</property>
        <mapping class="at.adridi.medienverwaltung.model.DatenbankNotizen"/>
        <mapping class="at.adridi.medienverwaltung.model.Buecher"/>
        <mapping class="at.adridi.medienverwaltung.model.Buecherkategorie"/>
        <mapping class="at.adridi.medienverwaltung.model.Buecherzustand"/>
        <mapping class="at.adridi.medienverwaltung.model.MedienMusik"/>
        <mapping class="at.adridi.medienverwaltung.model.MedienMusikGenre"/>
        <mapping class="at.adridi.medienverwaltung.model.MedienSoftware"/>
        <mapping class="at.adridi.medienverwaltung.model.MedienSoftwareBetriebssystem"/>
        <mapping class="at.adridi.medienverwaltung.model.MedienSoftwareHersteller"/>
        <mapping class="at.adridi.medienverwaltung.model.MedienVideoclips"/>
        <mapping class="at.adridi.medienverwaltung.model.MedienVideoclipsSprache"/>
        <mapping class="at.adridi.medienverwaltung.model.MedienVideos"/>
        <mapping class="at.adridi.medienverwaltung.model.MedienVideosGenre"/>
        <mapping class="at.adridi.medienverwaltung.model.MedienVideosSprache"/>
    </session-factory>
</hibernate-configuration>
